@charset "utf-8";

*{
	padding:0;
	margin:0;
}
#principal{
	width:100%;
	height:100%;
	background-color:darkorange;
	position:absolute;
	}
#cabecalho{
	width:100%;
	height:25%;
	background-color:blue;
}
#corpo{
	width:100%;
	height:65%;
	background-color:black;
	display:flex;
}	
#conteudo_esquerdo{
	width:20%;
	height:100%;
	background-color:purple;
}
#conteudo_centro{
	width:65%;
	height:100%;
	background-color:#7FFFD4;
}
#conteudo_direito{
	width:15%;
	height:100%;
	background-color:#ADFF2F;
}
#rodape{
	width:100%;
	height:10%;
	background-color:#666;
}

